<!-- views/partials/header.ejs -->

<header>
  <h1>TinyApp</h1>
  <!--  <a href="#">Create new TinyURL</a> -->
  <% if (!user) { %>
  <!-- <form method="POST" action="/login"> -->
  <!--   <input type="text" name="username" value="user name"><br> -->
  <!--   <input type="submit" value="Login"> -->
  <!-- </form> -->
    <a href="/register">Register</a>  |  <a href="/login">Login</a> 
  <% } else { %>
    <div>
      <p>
      <form method="GET" action="/urls/new">
        <button style=width:250px type=“submit” class="btn btn-primary">Create TinyURL</button>
      </form>
      </p>
      <p>Logged in as <%= user.email %>!</p>
      <form method="POST" action="/logout"> 
        <button type="submit">Logout</button>
      </form>
    </div>
    <br>
  <% }; %>
</header>
